body{
    font-family:Arial;
}

#heading{
    text-align: center;
}
.grid-items{

    display: grid;
    grid-template-columns: 250px 150px 100px ;
    column-gap: 10px;
    row-gap: 10px;
    /* as these two are different containers so top item needs to be spaced */
    margin-top: 10px;
    align-items: center;
    justify-content: center;


}
#todo-input, #todo-date{
    font-size: 17px;
    padding:10px 5px;
}
.delete-btn{
    background-color: rgb(177, 14, 14);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
    font-size: 10px;
}
.add-btn{
    background-color: rgb(11, 155, 11);
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    color: white;
    font-size: 16px;
}